body {
  padding-top: 50px;
}

input[type="password"] {
  letter-spacing: 4px;
}

.well legend {
  border-bottom-color: #d6d6d6;
}

#masthead h1 a {
  color: #836199;
}

#masthead h1 a:hover {
  text-decoration: none;
  color: #836199;
}