define([ // -------------------------------------------------------------------
  //
  // PATHS
  //
  
  // Platform
  'backbone',
  'backbone.marionette',

  // Initializers
  'modules/app/library/initializers/error-handler',
  'modules/app/library/initializers/layout',
  'modules/app/library/initializers/registry',
  'modules/app/library/initializers/history',

  // Modules
  'modules/home/main',
  'modules/ui/main'

], function( // ----------------------------------------------------------------
  //
  // REFERENCES
  //
  
  // Platform
  Backbone,
  Marionette,
  
  // Initializers
  initErrorHandler,
  initLayout,
  initRegistry,
  initHistory,

  // Modules
  HomeModule,
  UIModule

) { return { // ----------------------------------------------------------------
  //
  // CONFIGURATION
  // 
  
  bootstrap: {
    debug: true,
    initializers: [
      initErrorHandler({
        route404: '.error/404'
      }),
      initLayout({
        debugDeps: [
          'modules/home/debug'
        ],
        viewClass: HomeModule.component.StandardLayout
      }),
      initRegistry({
        data: {
          user: new Backbone.Model({
            session: true
          })
        }
      }),
      initHistory({
        pushState: false,
        root: window.location.pathname,
        routers: [
          HomeModule.component.ErrorRouter,
          HomeModule.component.IndexRouter
        ]
      })
    ]
  },
  modules: {
    Home: {
      debug: true
    },
    UI: {
      debug: true
    }
  }
  
  
}}); // ------------------------------------------------------------------------