<div id="main-menu">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a data-goto="home" class="brand" href="#">Identity Provider</a>
        <ul class="nav">
          <li data-goto="home"><a href="#">Home</a></li>
          <li data-goto="register"><a href="#">Register</a></li>
          <li data-goto="login"><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="masthead"></div>
  <div id="viewport"></div>
</div>