<!-- sign-on: network identity -->
<section class="span5 pull-right">
  <h2>Sign-On</h2>
  <div class="well">
  </div>
</section>

<!-- account: service identity -->
<section class="span6">
  <header>
    <h2>Account</h2>
  </header>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li><a href="#login" data-toggle="tab">Login</a></li>
      <li><a href="#register" data-toggle="tab">Register</a></li>
    </ul>
    <div class="tab-content">
      <!-- #login -->
      <article id="login" class="tab-pane">
        <form id="login-credentials" class="form-horizontal">
          <header>
            <legend>Returning Users</legend>
          </header>
          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" name="username">
            </div>
          </div>
          <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
              <div class="input-append">
                <input type="password" name="password">
                <span class="add-on"><i class="icon-eye-open"></i></span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <p>
                <label class="checkbox">
                  <input type="checkbox"> Remember me
                </label>
              </p>
              <button class="btn btn-primary" data-goto="login">
                <i class="icon-white icon-user"></i>
                Login
              </button>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-link"
                  data-goto="recover-password"
                  href="#">I forgot my login information.</button>
              <button class="btn btn-link"
                  data-goto="register"
                  href="#">I need an account.</button>
            </div>
          </div>
        </form>
      </article>

      <!-- #register -->
      <article id="register" class="tab-pane">
        <form class="form-horizontal">
          <header>
            <legend>New Users</legend>
          </header>
          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" name="username">
            </div>
          </div>
          <div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
              <input type="text" name="email">
            </div>
          </div>
          <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
              <div class="input-append">
                <input type="password" name="password">
                <span class="add-on"><i class="icon-eye-open"></i></span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label for="confirmPassword"
                class="control-label">Confirm Password</label>
            <div class="controls">
              <input type="password" name="confirmPassword">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="use-agreement">
                <p>
                  Legal
                  <a href="#">Terms</a> &amp; <a href="#">Policy</a>
                  Agreement
                </p>
              </div>
              <button class="btn btn-primary" data-goto="process-register">
                <i class="icon-white icon-user"></i>
                Create Account
              </button>
            </div>
          </div>
        </form>
      </article>

      <!-- #recover -->
      <article id="recover" class="tab-pane">
        <form id="recover-password" class="form-horizontal">
          <header>
            <legend>Recover Account</legend>
          </header>
          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" name="username">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" data-goto="recover">
                <i class="icon-envelope icon-white"></i>
                Send Recovery Email
              </button>
              or <a href="#" data-goto="login-credentials">Cancel</a>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-link"
                  data-goto="recover-username"
                  href="#">I forgot my username.</button>
              <button class="btn btn-link"
                  data-goto="recover-lookup-by-username"
                  href="#">I lost access to my email.</button>
              <button class="btn btn-link"
                  data-goto="login-credentials"
                  href="#">I remember my login information.</button>
            </div>
          </div>
        </form>
        <form id="recover-username" class="form-horizontal">
          <header>
            <legend>Recover Account</legend>
          </header>
          <div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
              <input type="text" name="email">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" checked="checked">
                I also forgot my password
              </label>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" data-goto="recover">
                <i class="icon-envelope icon-white"></i>
                Send Recovery Email
              </button>
              or <a href="#" data-goto="login-credentials">Cancel</a>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-link"
                  data-goto="recover-support"
                  href="#">I forgot my email.</button>
              <button class="btn btn-link"
                  data-goto="recover-lookup-by-email"
                  href="#">I lost access to my email.</button>
              <button class="btn btn-link"
                  data-goto="recover-password"
                  href="#">I remember my username.</button>
            </div>
          </div>
        </form>
        <form id="recover-lookup-by-username" class="form-horizontal">
          <header>
            <legend>Recover Account</legend>
          </header>
          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" name="username">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" data-goto="recover-lookup">
                <i class="icon-search icon-white"></i>
                Find Account
              </button>
              or <a href="#" data-goto="login-credentials">Cancel</a>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-link"
                  data-goto="recover-lookup-by-email"
                  href="#">I forgot my username.</button>
              <button class="btn btn-link"
                  data-goto="recover-password"
                  href="#">I have access to my email.</button>
            </div>
          </div>
        </form>
        <form id="recover-lookup-by-email" class="form-horizontal">
          <header>
            <legend>Recover Account</legend>
          </header>
          <div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
              <input type="text" name="email">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" data-goto="recover-lookup">
                <i class="icon-search icon-white"></i>
                Find Account
              </button>
              or <a href="#" data-goto="login-credentials">Cancel</a>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-link"
                  data-goto="recover-support"
                  href="#">I forgot my email.</button>
              <button class="btn btn-link"
                  data-goto="recover-password"
                  href="#">I have access to my email.</button>
              <button class="btn btn-link"
                  data-goto="recover-lookup-by-username"
                  href="#">I remember my username.</button>
            </div>
          </div>
        </form>
        <form id="recover-lookup" class="form-horizontal">
          <header>
            <legend>Recover Account</legend>
          </header>
          <div class="control-group">
            <label class="control-label">Account</label>
            <div class="controls">
              <input type="text" disabled name="identity">
            </div>
          </div>
          <div class="control-group">
            <label for="email" class="control-label">Change Email</label>
            <div class="controls">
              <input type="text" name="email">
            </div>
          </div>
          <div class="control-group">
            <label for="question1" class="control-label">Question 1</label>
            <div class="controls">
              <input type="text" name="question1">
            </div>
          </div>
          <div class="control-group">
            <label for="question2" class="control-label">Question 2</label>
            <div class="controls">
              <input type="text" name="question2">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary"
                  data-goto="process-recover-account">
                <i class="icon-envelope icon-white"></i>
                Send Recovery Email
              </button>
              or <a href="#" data-goto="login-credentials">Cancel</a>
            </div>
          </div>
        </form>
        <form id="recover-support">
          <header>
            <legend>Recover Account</legend>
          </header>
          <p>
            Information on how to call, email, or chat with support
            listed here.
          </p>
          <p>
            <button class="btn btn-primary"
                data-goto="process-recover-account">
              <i class="icon-envelope icon-white"></i>
              Contact Support
            </button>
            or
            <a href="#" data-goto="login-credentials">try to Login</a>
          </p>
        </form>
      </article>
    </div>
  </div>
</section>